
/* FAQ AND FOOTER STYLING */

.accordion {
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom: #FF6C00 solid 1px;
}

.accordion i {
    float: right;
}

.panel {
    padding: 0 18px;
    width: 90%;
    display: none;
    background-color: white;
    overflow: hidden;
}

.left-faq {

    width: 50%;
}

.faq {
    width: 100%;
    display: flex;
    gap: 5%;
}

h1 {
    text-align: center;
    font-size: 240%;
}

#faq_section {
    width: 90%;
    margin: auto;
}

footer {
    background-color: black;
    color: white;
    transform: translateY(40%);

}

.footerSection {
    display: flex;
    gap: 15em;
    font-size: 1.5em;
    justify-content: center;
}

#footerLogo {
    width: 10em;
}

.footerLeftContainer {
    ul {
        list-style: none;
        line-height: 2em;
    }
}

.footerRightContainer {
    ul {
        list-style: none;
        line-height: 2em;
    }
}

.footerCopyright {
    background-color: #FF6C00;

    #copyrightText {
        #copyrightText {
            text-align: center;
        }

        text-align: center;
    }
}

#footerLogoText {
    color: grey;
}

@media only screen and (min-width:0px) and (max-width:480px) {

    .left_faq {
        flex-direction: column;

    }

    .explanation {
        padding-top: 15vh;

    }

    .explanation_drop {
        width: 35vh;
        left: -31vh;
        top: 17vh;
        height: 17vh;
    }

    .statement {
        width: 100%;
        height: 16vh;

    }

    footer {
        background-color: black;
        color: white;
        width: 99.5vw;
        margin-left: -2%;
        margin-top: -35vw;
    }

    .footerSection {
        flex-direction: column;
        gap: 1em;
        font-size: 1.7em;
        align-items: center;
    }

    #footerLogo {
        width: 5em;
        transform: translate(50%);
    }

    #footerLogoText {
        text-align: center;
    }

    .footerLeftContainer {
        ul {
            list-style: none;
            line-height: 2em;
        }
    }

    .footerRightContainer {
        ul {
            list-style: none;
            line-height: 2em;
        }
    }

    .footerCopyright {
        background-color: #FF6C00;

        #copyrightText {
            text-align: center;
        }
    }

    .faq {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .left-faq {

        width: 100%;
    }
}

@media screen and (min-width:481px) and (max-width: 768px) {
    .explanation {
        padding-top: 16%;
        position: absolute;
        left: 105%;

    }

    .explanation_drop {
        width: 35vw;
        left: -37vw;
        top: 10vh;
        height: 13vh;

    }

    .statement {
        width: 28vh;
        padding-bottom: 0.5vw;
        font-size: 1em;
    }

    .faq {
        transform: translateX(-20%);
    }

    footer {
        background-color: black;
        color: white;
        width: 100vw;
        margin-left: -2%;
    }

    .footerSection {
        gap: 4em;
        font-size: 0.9em;
        align-items: center;
    }

    #footerLogo {
        width: 5em;
        transform: translate(50%);
    }

    #footerLogoText {
        text-align: center;
    }

    .footerLeftContainer {
        ul {
            list-style: none;
            line-height: 2em;
        }

        margin-left: 1%;
    }

    .footerRightContainer {
        ul {
            list-style: none;
            line-height: 2em;
        }

        margin-right: 1%;
    }

    .footerCopyright {
        background-color: #FF6C00;

        #copyrightText {
            text-align: center;
        }
    }

    .faq {
        width: 100%;
        margin-left: 20%;
        gap: 10%;
    }
}


@media only screen and (max-width:1024px) and (min-width:769px) {
    .statement {
        padding-bottom: 5%;
    }

    .explanation {
        position: absolute;
        margin-left: 31%;
        padding-bottom: 4%;
    }

    footer {
        width: 100%;
    }

    .footerSection {
        gap: 5em;
        font-size: 1.2em;
        justify-content: center;
    }

    #footerLogo {
        width: 8em;

    }

    .footerLeftContainer {
        ul {
            list-style: none;
            line-height: 2em;
        }
    }

    .footerRightContainer {
        ul {
            list-style: none;
            line-height: 2em;
        }
    }

    .footerCopyright {
        background-color: #FF6C00;

        #copyrightText {
            #copyrightText {
                text-align: center;
            }

            text-align: center;
        }
    }

    #footerLogoText {
        color: grey;
    }
}

@media only screen and (max-width:1200px) and (min-width:1025px) {

    .footerSection {
        display: flex;
        gap: 1em;
        font-size: 1.5em;
        justify-content: center;
    }

    #footerLogo {
        width: 5em;
        margin-top: 2em;

    }
}

@media only screen and (min-width:1201px) and (max-width:1400px) {
    .faq {
        margin-left: 3%;
    }

    .explanation {
        margin-top: 10%;

    }

    footer {
        width: 100%;
    }

    .footerSection {
        gap: 15%;
    }

    #faq_section {
        width: 90%;
    }
}
=======
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Manrope";
    overflow-x: hidden;

}

/* Start Hero-Section */

.home-bg {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 47%;
    background-image: url(Images/home.jpg);
    height: 100%;
    position: relative;

    img {

        width: 10%;
        position: relative;
    }
}

.icons {
    margin-left: 20%;
    word-spacing: 1.5em;
    color: #e05c00;
    cursor: pointer;
}

.icons i:hover {
    color: #773f07;
}

.home-content {
    position: absolute;
    background-color: white;
    top: 0%;
    right: 0%;
    width: 70%;
    height: 90%;
    border-radius: 1% 1% 1% 70%;
    text-align: center;

    nav {
        padding-top: 5%;
        font-size: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
        gap: 5%;

        a {
            text-decoration: none;
            color: black;
        }


    }

    h1 {
        margin-top: 7%;
        font-size: 5em;

    }

    h1 span {
        color: #F57C00;
    }
}

nav a:hover {
    color: #F57C00;
    border-bottom: solid 1px #F57C00;
}

.home-content p {
    margin-left: 22%;
    width: 60%;
    font-size: 2.5em;
    font-family: "Kodchasan";

}

.home-content button {
    margin-top: 4%;
    margin-left: 7%;
    text-decoration: none;
    background-color: #F57C00;
    color: white;
    cursor: pointer;
    border: none;
    height: 7%;
    padding: 1%;
    width: 19%;
    border-radius: 50px;
    font-size: 1.5rem;
}

.home-content button:hover {
     background-color: #1e4417;
}

#vendors {
    background-color: #e7be95;
    color: #e67728;
}

#vendors:hover {
    background-color: #1e4417;
    color: white;
}
@media only screen and (min-width:320px) and (max-width:480px) {
    .home-bg {
        height: 74vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(Images/home.jpg);

        img {
            z-index: 1;
            width: 15%;
        }
    }

    .home-content {
        width: 100%;
        border-radius: 0% 0% 50% 50%;
        height: 75%;

        nav {
            padding-top: 20%;
            font-size: 1rem;

            display: flex;
            flex-wrap: wrap;
            gap: 5%;

        }

        h1 {
            margin-top: 15%;
            font-size: 3.5em;

        }

    }

    .icons {
       display: flex;
       left: 13%;
       gap: 25%;
        position: absolute;
        top: 4%;

    }

    .home-content p {
        margin: 15%;
        width: 70%;
        font-size: 1.2em;
    }

    .home-content button {
        margin: 2%;
        padding: 2%;
        width: 35%;
        border-radius: 50px;
        font-size: 0.9rem;
    }

}



@media only screen and (min-width:481px) and (max-width:780px) {
    .home-bg {
        height: 74vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(Images/home.jpg);

        img {
            z-index: 1;
            width: 15%;
        }
    }

    .home-content {
        width: 100%;
        border-radius: 0% 0% 50% 50%;
        height: 75%;

        nav {
            padding-top: 15%;
            font-size: 1.5rem;

            display: flex;
            flex-wrap: wrap;
            gap: 5%;

        }

        h1 {
            margin-top: 15%;
            font-size: 3.5em;

        }

    }

    .icons {
        margin: 1% 0% 0% 65%;
        position: absolute;
        top: 4.5%;

    }

    .home-content p {
        margin: 15%;
        width: 70%;
        font-size: 1.5em;
    }

    .home-content button {
        margin: 2%;
        padding: 2%;
        width: 35%;
        border-radius: 50px;
        font-size: 0.9rem;
    }

}

@media only screen and (min-width:781px)and (max-width:1024px) {
    .home-bg {
        height: 25vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(Images/home.jpg);
    }

    .home-content {
        width: 85%;
        border-radius: 5% 0% 0% 50%;
        height: 50%;

        h1 {
            margin-top: 10%;
            font-size: 3em;

        }

    }

    .icons {
        margin: 0;
    }

    .home-content p {
        margin: 9% 23%;
        width: 60%;
        font-size: 1.5em;
    }

    .home-content button {
        margin: 1%;
        padding: 1%;
        width: 25%;
        border-radius: 30px;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width:1025px) and (max-width:1280px) {
    .home-bg {
        height: 30vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(Images/home.jpg);
    }

    .home-content {
        width: 85%;
        border-radius: 5% 0% 0% 50%;
        height: 70%;

        h1 {
            margin-top: 10%;
            font-size: 5em;

        }
    }

    .icons {
        margin: 0;
    }

    .home-content p {
        margin: 9% 23%;
        width: 60%;
        font-size: 2em;
    }

    .home-content button {
        margin: 1%;
        padding: 1%;
        width: 25%;
        border-radius: 50px;
        font-size: 1.5rem;
    }
}


@media only screen and (min-width:1280px) and (max-width:1780px) {
    .home-bg {
        height: 30vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(Images/home.jpg);
    }

    .home-content {
        width: 85%;
        border-radius: 5% 0% 0% 50%;
        height: 70%;

        h1 {
            margin-top: 10%;
            font-size: 5em;

        }
    }

    .icons {
        margin: 0;
    }

    .home-content p {
        margin: 9% 23%;
        width: 60%;
        font-size: 2em;
    }

    .home-content button {
        margin: 1%;
        padding: 1%;
        width: 25%;
        border-radius: 50px;
        font-size: 1.5rem;
    }
}

/* End Hero-Section*/

